.wrap {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    .image {
        width: 50%;
    }
    .info {
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: space-between;
        .title {
            font-size: 20px;
        }
        .likes {
            color: red;
            font-size: 15px;
        }
        .link {
            text-align: center;
            background-color: rgb(189, 231, 238);
            height: 25px;
            border: 1px solid rgb(160, 51, 118);
            border-radius: 10px;
            &:active {
                background-color: rgb(80, 57, 212)
            }
        }
    }
}
