.wrap {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    .content {
        width: 50vw;
        .recipes {
            margin-top: 20px;
        }
    }
}
.search {
    width: 60%;
}
